run = "npm run build && npm start"
hidden = [".build", "node_modules"]

[nix]
channel = "stable-22_11"

[env]
XDG_CONFIG_HOME = "/home/runner/.config"
PATH = "${env.PATH}:${env.HOME}/.npm-global/bin"
npm_config_prefix = "${env.HOME}/.npm-global"

[packager]
language = "nodejs"

[packager.features]
packageSearch = true
guessImports = true

[languages.javascript]
pattern = "**/{*.js,*.jsx,*.ts,*.tsx}"

[languages.javascript.languageServer]
start = [ "typescript-language-server", "--stdio" ] 